<template>
  <div id="app">
    <div>
      <label>
        <span>A word or a phrase</span>
        <input type="text" v-model="phrase">
      </label>
    </div>
    <div>
      <ul>
        <li v-for="element in list" :key="element.str">
          <strong>{{element.str}}</strong> ({{element.entity.text}})
          <img v-if="element.entity.image" :src="element.entity.image">
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { debounce } from 'lodash'

export default {
  data: () => ({
    actualPhrase: '',
    list: []
  }),
  computed: {
    phrase: {
      get () {
        return this.actualPhrase
      },
      set (value) {
        this.actualPhrase = value
        this.getHacks(value)
      }
    }
  },
  methods: {
    async getHacks (value) {
      const res = await fetch(`/hacks?phrase=${window.encodeURIComponent(value)}`)
      this.list = await res.json()
    }
  },
  mounted () {
    const originalGetHacks = debounce(this.getHacks, 500)
    this.getHacks = value => {
      this.list = [{
        str: '',
        entity: {
          text: 'Loading...'
        }
      }]
      originalGetHacks(value)
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
